body {
    background-color: #f0f7f4;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

hr {
    display: block;
    border: 1px solid #705d56;
    background-color: #705d56;
    width: 95%;
    opacity: 0.5;
}

.site {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 85%;
}

.header {
    order: -1;
    background-color: #705d56;
    color: #f0f7f4;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*Header Content - START*/
.logo {
    order: 1;
}

.header-title {
    order: 2;
    text-align: center;
    cursor: default;
}

.navigation {
    order: 3;
    position: relitive;
    display: inline-block;
    padding: 20px;
}
/*Header Content - END*/

/*Navigation Menu - START*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgb(50, 41, 47);
    background-color: rgba(50, 41, 47, 0.95);
    overflow-x: hidden;
    transition: 1s;
  }

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    color: #f0f7f4;
    padding: 8px;
    text-decoration: none;
    display: block;
    font-size: 36px;
    transition: 1s;
}

.overlay a:hover, .overlay a:focus {
    color: #99e1d9;
    font-size: 46px;
  }

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
}

.dropbtn {
    background-color: #705d56;
    color: #f0f7f4;
    border: none;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    transition: 1s;
    border-radius: 15px;
}

.dropbtn:hover {
    background-color: #82bfb8;
    color: #32292f;
    transition: 1s;
}

.overlay-content hr {
    background-color: #32292f;
    max-width: 30%;
}

.overlay p {
    color: #f0f7f4;
    padding: 8px;
    text-decoration: none;
    display: block;
    font-size: 36px;
    transition: 1s;
    opacity: 0.5;
    cursor: default;
    margin: 0px;
}
/*Navigation menu end*/

.body {
    order: 0;
    color: #32292f;
}

.body hr {
    display: block;
    border: 1px solid #705d56;
    background-color: #705d56;
    width: 85%;
    opacity: 0.5;
}

.body a:link {
    color: #82bfb8;
    font-family: 'Montserrat', sans-serif;
}

.body a:visited {
    color: #82bfb8;
    font-family: 'Montserrat', sans-serif;
}

.list-lv2 {
    padding-top: 5px;
}

.footer {
    order: 3;
    background-color: #705d56;
    color: #f0f7f4;
    text-align: center;
}

.footer a:link {
    text-decoration: none;
    color: #f0f7f4;
    font-family: 'Montserrat', sans-serif;
}

.footer a:visited {
    text-decoration: none;
    color: #f0f7f4;
    font-family: 'Montserrat', sans-serif;
}

.footer-heading {
    font-size: 14px;
    text-decoration: underline;
}

.footer-text {
    font-size: 12px;
}

.copyright {
    font-size: 10px;
}

/*Customized Scroll Bar - Start*/
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #99e1d9;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #82bfb8;
}
/*Customized Scroll Bar - End*/