.body {
    text-align: center;
}

.units {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.units button {
    border: none;
    color: #f0f7f4;
    background-color: #32292f;
    padding: 15px;
    font-size: 15px;
    border-radius: 30px;
    border: 2px solid #82bfb8;
    cursor: pointer;
    transition: 0.8s;
    font-weight: bold;
}

.units button:hover {
    background-color: #f0f7f4;
    border-color: #32292f;
    color: #82bfb8;
    transition: 0.8s;
}